<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>
<script src="/js/app/code-group.js"></script>
<script src="/js/app/code-detail.js"></script>

	<body>

		<h2 th:text="#{common.homeWelcome}"></h2>
		<p th:text="${serverTime}">시간 표시</p>

		<!-- 코드그룹 REST 클라이언트 인터페이스를 추가한다. -->
		<hr>

		<h3>CodeGroup</h3>

		<table>
			<tr>
				<td><label for="groupCode">groupCode</label></td>
				<td><input type="text" id="groupCode" value=""></td>
			</tr>
			<tr>
				<td><label for="groupName">groupName</label></td>
				<td><input type="text" id="groupName" value=""></td>
			</tr>
		</table>

		<div>
			<button id="codeGroupResetBtn">RESET</button>
			<button id="codeGroupListBtn">LIST</button>
			<button id="codeGroupReadBtn">READ</button>
			<button id="codeGroupRegisterBtn">REGISTER</button>
			<button id="codeGroupModifyBtn">MODIFY</button>
			<button id="codeGroupDeleteBtn">DELETE</button>
		</div>

		<hr>

		<h3>CodeGroup</h3>

		<table>
			<tr>
				<td><label for="codeGroupCode">groupCode</label></td>
				<td><select id="codeGroupCode"></select></td>
			</tr>
			<tr>
				<td><label for="codeValue">codeValue</label></td>
				<td><input type="text" id="codeValue" value=""></td>
			</tr>
			<tr>
				<td><label for="codeName">codeName</label></td>
				<td><input type="text" id="codeName" value=""></td>
			</tr>
		</table>

		<div>
			<button id="codeDetailResetBtn">RESET</button>
			<button id="codeDetailListBtn">LIST</button>
			<button id="codeDetailReadBtn">READ</button>
			<button id="codeDetailRegisterBtn">REGISTER</button>
			<button id="codeDetailModifyBtn">MODIFY</button>
			<button id="codeDetailDeleteBtn">DELETE</button>
		</div>

	</body>

</html>

<script>

</script>